*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar {
    background-color:green;
    padding: 25px;
    position: fixed;
    top:0%;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar li {
    display: inline;
    justify-content: space-evenly;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 8px 12px;
    justify-content: space-evenly;
}


.navbar a:hover {
    background-color: #1B4332;
    border-radius: 15px;
    transition: 1s;
}
body{
    background-color: white;
}